
.py-3{
  padding:30px 0;
}

#contact-form {
  background-color: #ffffffb9;
  width: 80%;
  margin: auto;
}

.container h1{
  color:white;
  font-style: italic;
  font-size: 25px;
  -webkit-text-stroke: 1.5px black;
}

#contact-form .form-group {
  margin-bottom: 20px;
  background-color: #43c78796;
  font-size: 20px;
}
 
#contact-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: white;
}
 
#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}
 
#contact-form textarea {
  height: 200px;
}
 
#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #5BBF21;
}

.btnContact{
  display: inline-block;
  font-size: 18px;
  color:white;
  background: #43c787;
  padding: 13px 20px;
  border:none;
  cursor:pointer;
}

.btnContact:hover{
  background:#339e6a;
  color: white;
}

#contact-info {
  background-color: #ffffffb9;
  width: 80%;
  margin: auto;
  text-align: center;
}
